In [2]:
# 1) Generate dummy prediction input from the uploaded DataFrame_processed
import pandas as pd
import numpy as np
from pathlib import Path

schema_path = Path("/Users/gibranariq/Documents/Final-Project-Rakamin-Men-United/DataFrame_processed/DataFrame_processed.csv")
dummy_out = 'dummy_data.csv'

df_schema = pd.read_csv(schema_path)

# Drop common target columns if present
target_cols = [c for c in df_schema.columns if c.lower() in ("attrition","target")]
X_schema = df_schema.drop(columns=target_cols, errors="ignore")

# Create 100-row dummy by sampling (with replacement if needed)
n = 100
if len(X_schema) >= n:
    dummy_df = X_schema.sample(n=n, random_state=42).reset_index(drop=True)
else:
    # If schema has fewer rows, sample with replacement
    dummy_df = X_schema.sample(n=n, replace=True, random_state=42).reset_index(drop=True)

dummy_df.to_csv(dummy_out, index=False)

In [3]:
import pandas as pd

df = pd.read_csv('data_dummy.csv')
df

,nama,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,MonthlyRate,OverTime,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,ExperienceRatio,IncomePerYearExp,TenureSatisfaction
0,Nur Wijayanti,28,Travel_Rarely,866,Sales,5,Medical,4,84,3,...,23490,No,0,6,4,3,4,0.666667,1209.000000,4
1,Bagus Wahyuni,53,Travel_Rarely,1084,Research & Development,13,Medical,4,57,4,...,26250,No,2,5,3,3,2,0.400000,741.666667,2
2,Dewi Wulandari,24,Travel_Rarely,240,Human Resources,22,Human Resources,4,58,1,...,11585,No,1,1,2,3,0,0.000000,777.500000,0
3,Budi Santoso,45,Travel_Rarely,1339,Research & Development,7,Life Sciences,2,59,3,...,18787,No,1,25,2,3,0,0.000000,374.000000,0
4,Joko Gunawan,36,Travel_Rarely,1396,Research & Development,5,Life Sciences,4,62,3,...,9945,No,0,16,3,4,11,0.687500,347.882353,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Lina Aminah,31,Travel_Rarely,1232,Research & Development,7,Medical,3,39,3,...,25713,Yes,0,11,2,2,9,0.818182,595.250000,36
96,Siti Aminah,29,Travel_Rarely,1246,Sales,19,Life Sciences,3,77,2,...,23757,No,2,10,3,3,7,0.700000,783.636364,21
97,Fauzan Suryani,37,Non-Travel,1063,Research & Development,25,Medical,2,72,3,...,23866,Yes,2,15,2,3,11,0.733333,278.062500,33
98,Rina Aminah,47,Travel_Rarely,571,Sales,14,Medical,3,78,3,...,24200,Yes,1,11,4,2,4,0.363636,382.583333,12
99,Eko Kartika,46,Travel_Rarely,1125,Sales,10,Marketing,3,94,2,...,11563,Yes,1,15,3,3,2,0.133333,566.937500,8

In [4]:
# drop kolom experienceratio, incomeperyearexp, tenuresatisfaction
df = df.drop(columns=['ExperienceRatio', 'IncomePerYearExp', 'TenureSatisfaction'])
df

,nama,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,OverTime,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole
0,Nur Wijayanti,28,Travel_Rarely,866,Sales,5,Medical,4,84,3,...,1,Single,8463,23490,No,0,6,4,3,4
1,Bagus Wahyuni,53,Travel_Rarely,1084,Research & Development,13,Medical,4,57,4,...,1,Divorced,4450,26250,No,2,5,3,3,2
2,Dewi Wulandari,24,Travel_Rarely,240,Human Resources,22,Human Resources,4,58,1,...,3,Married,1555,11585,No,1,1,2,3,0
3,Budi Santoso,45,Travel_Rarely,1339,Research & Development,7,Life Sciences,2,59,3,...,1,Divorced,9724,18787,No,1,25,2,3,0
4,Joko Gunawan,36,Travel_Rarely,1396,Research & Development,5,Life Sciences,4,62,3,...,2,Single,5914,9945,No,0,16,3,4,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Lina Aminah,31,Travel_Rarely,1232,Research & Development,7,Medical,3,39,3,...,4,Single,7143,25713,Yes,0,11,2,2,9
96,Siti Aminah,29,Travel_Rarely,1246,Sales,19,Life Sciences,3,77,2,...,3,Divorced,8620,23757,No,2,10,3,3,7
97,Fauzan Suryani,37,Non-Travel,1063,Research & Development,25,Medical,2,72,3,...,3,Married,4449,23866,Yes,2,15,2,3,11
98,Rina Aminah,47,Travel_Rarely,571,Sales,14,Medical,3,78,3,...,3,Married,4591,24200,Yes,1,11,4,2,4
99,Eko Kartika,46,Travel_Rarely,1125,Sales,10,Marketing,3,94,2,...,4,Married,9071,11563,Yes,1,15,3,3,2

In [5]:
df.to_csv('data_dummy_clean.csv', index=False)

In [7]:
df_ibm = pd.read_csv('ibm_no_attrition.csv')
df_ibm

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobRole,...,MonthlyRate,OverTime,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,ExperienceRatio,IncomePerYearExp,TenureSatisfaction
0,41,Travel_Rarely,1102,Sales,1,Life Sciences,2,94,3,Sales Executive,...,19479,Yes,0,8,0,1,4,0.500000,665.888889,16
1,49,Travel_Frequently,279,Research & Development,8,Life Sciences,3,61,2,Research Scientist,...,24907,No,1,10,3,3,7,0.700000,466.363636,14
2,37,Travel_Rarely,1373,Research & Development,2,Other,4,92,2,Laboratory Technician,...,2396,Yes,0,7,3,3,0,0.000000,261.250000,0
3,33,Travel_Frequently,1392,Research & Development,3,Life Sciences,4,56,3,Research Scientist,...,23159,Yes,0,8,3,3,7,0.875000,323.222222,21
4,27,Travel_Rarely,591,Research & Development,2,Medical,1,40,3,Laboratory Technician,...,16632,No,1,6,3,3,2,0.333333,495.428571,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,884,Research & Development,23,Medical,3,41,4,Laboratory Technician,...,12290,No,1,17,3,3,2,0.117647,142.833333,8
1466,39,Travel_Rarely,613,Research & Development,6,Medical,4,42,2,Healthcare Representative,...,21457,No,1,9,5,3,7,0.777778,999.100000,7
1467,27,Travel_Rarely,155,Research & Development,4,Life Sciences,2,87,4,Manufacturing Director,...,5174,Yes,1,6,0,3,2,0.333333,877.428571,4
1468,49,Travel_Frequently,1023,Sales,2,Medical,4,63,2,Sales Executive,...,13243,No,0,17,3,2,6,0.352941,299.444444,12
1469,34,Travel_Rarely,628,Research & Development,8,Medical,2,82,4,Laboratory Technician,...,10228,No,0,6,3,4,3,0.500000,629.142857,9

In [9]:
df_ibm = df_ibm.drop(columns=['ExperienceRatio', 'IncomePerYearExp', 'TenureSatisfaction'])
df_ibm

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,OverTime,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole
0,41,Travel_Rarely,1102,Sales,1,Life Sciences,2,94,3,Sales Executive,4,Single,5993,19479,Yes,0,8,0,1,4
1,49,Travel_Frequently,279,Research & Development,8,Life Sciences,3,61,2,Research Scientist,2,Married,5130,24907,No,1,10,3,3,7
2,37,Travel_Rarely,1373,Research & Development,2,Other,4,92,2,Laboratory Technician,3,Single,2090,2396,Yes,0,7,3,3,0
3,33,Travel_Frequently,1392,Research & Development,3,Life Sciences,4,56,3,Research Scientist,3,Married,2909,23159,Yes,0,8,3,3,7
4,27,Travel_Rarely,591,Research & Development,2,Medical,1,40,3,Laboratory Technician,2,Married,3468,16632,No,1,6,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,884,Research & Development,23,Medical,3,41,4,Laboratory Technician,4,Married,2571,12290,No,1,17,3,3,2
1466,39,Travel_Rarely,613,Research & Development,6,Medical,4,42,2,Healthcare Representative,1,Married,9991,21457,No,1,9,5,3,7
1467,27,Travel_Rarely,155,Research & Development,4,Life Sciences,2,87,4,Manufacturing Director,2,Married,6142,5174,Yes,1,6,0,3,2
1468,49,Travel_Frequently,1023,Sales,2,Medical,4,63,2,Sales Executive,2,Married,5390,13243,No,0,17,3,2,6
1469,34,Travel_Rarely,628,Research & Development,8,Medical,2,82,4,Laboratory Technician,3,Married,4404,10228,No,0,6,3,4,3

In [13]:
df_full = pd.read_csv('data_default/ibm_data_with_names.csv')
df_full

,Nama,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Bayu Hidayat,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,Agus Pradana,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,Fajar Saputra,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,Rizky Setiawan_521,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,Rudi Aini,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Citra Marlina_429,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,...,3,80,1,17,3,3,5,2,0,3
1466,Hendra Permata,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,...,1,80,1,9,5,3,7,7,1,7
1467,Ahmad Wijaya,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,...,2,80,1,6,0,3,6,2,0,3
1468,Tini Suryani,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,...,4,80,0,17,3,2,9,6,0,8
1469,Maya Pratama,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,...,1,80,0,6,3,4,4,3,1,2

In [14]:
# bersihkan kolom nama kalo ada _ di nama langsung apus semua karakter setelahnya berserta _ nya
df_full['Nama'] = df_full['Nama'].str.split('_').str[0]
df_full

,Nama,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Bayu Hidayat,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,Agus Pradana,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,Fajar Saputra,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,Rizky Setiawan,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,Rudi Aini,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Citra Marlina,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,...,3,80,1,17,3,3,5,2,0,3
1466,Hendra Permata,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,...,1,80,1,9,5,3,7,7,1,7
1467,Ahmad Wijaya,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,...,2,80,1,6,0,3,6,2,0,3
1468,Tini Suryani,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,...,4,80,0,17,3,2,9,6,0,8
1469,Maya Pratama,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,...,1,80,0,6,3,4,4,3,1,2

In [16]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nama                      1470 non-null   object
 1   Age                       1470 non-null   int64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1470 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1470 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1470 non-null   int64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1470 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1470 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1470 non-null   object
 19  MonthlyIncome             1470 non-null   int64
 20  MonthlyRate               1470 non-null   int64
 21  NumCompaniesWorked        1470 non-null   int64
 22  Over18                    1470 non-null   object
 23  OverTime                  1470 non-null   object
 24  PercentSalaryHike         1470 non-null   int64
 25  PerformanceRating         1470 non-null   int64
 26  RelationshipSatisfaction  1470 non-null   int64
 27  StandardHours             1470 non-null   int64
 28  StockOptionLevel          1470 non-null   int64
 29  TotalWorkingYears         1470 non-null   int64
 30  TrainingTimesLastYear     1470 non-null   int64
 31  WorkLifeBalance           1470 non-null   int64
 32  YearsAtCompany            1470 non-null   int64
 33  YearsInCurrentRole        1470 non-null   int64
 34  YearsSinceLastPromotion   1470 non-null   int64
 35  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(10)
memory usage: 413.6+ KB

In [2]:
df_full.to_csv('data_default/ibm_with_names.csv', index=False)

NameError: name 'df_full' is not defined

In [3]:
import pandas as pd
df = pd.read_csv('data_default/ibm_full.csv')
df

,Attrition_Probability,Category,ExperienceRatio,IncomePerYearExp,TenureSatisfaction,Nama,Age,Attrition,BusinessTravel,DailyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.992916,high,0.000000,634.400000,0,Nur Kartika,24,Yes,Travel_Frequently,381,...,3,80,0,4,2,2,0,0,0,0
1,0.991341,high,0.000000,1170.000000,0,Hendra Fauzi,26,Yes,Travel_Rarely,471,...,2,80,0,1,3,1,1,0,0,0
2,0.989128,high,0.000000,1878.000000,0,Dian Ratnasari,18,Yes,Travel_Frequently,1306,...,4,80,0,0,3,3,0,0,0,0
3,0.985097,high,0.000000,1397.500000,0,Ahmad Setiawan,32,Yes,Travel_Rarely,374,...,3,80,0,1,2,1,1,0,0,1
4,0.982823,high,0.000000,1675.000000,0,Nur Pradana,19,Yes,Travel_Rarely,528,...,4,80,0,0,2,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.012359,low,0.526316,480.650000,40,Ratna Setiawan,39,No,Travel_Rarely,1132,...,1,80,3,19,5,2,18,10,3,7
1466,0.010839,low,0.031250,448.909091,3,Ratna Handayani,53,No,Travel_Rarely,970,...,3,80,0,32,3,3,5,1,1,3
1467,0.010025,low,0.125000,527.242424,16,Joko Fauzi,50,No,Travel_Rarely,1126,...,3,80,1,32,1,2,5,4,1,3
1468,0.003764,low,0.225806,460.375000,28,Arif Wahyuni,55,No,Travel_Rarely,1136,...,4,80,2,31,4,4,7,7,0,0
1469,0.002671,low,0.571429,261.125000,16,Rudi Hidayat,43,No,Non-Travel,1344,...,4,80,3,7,3,4,5,4,2,2

In [4]:
df.drop(columns=['Attrition'], inplace=True)

In [5]:
df.to_csv('data_default/ibm_full.csv', index=False)

In [6]:
df_dummy = pd.read_csv('data_default/ibm_dummy.csv')
df_dummy

,Nama,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Siti Sari,41,Yes,Travel_Frequently,515,Sales,24,4,Other,1,...,1,80,2,32,1,1,24,13,14,6
1,Andi Hidayat,25,Yes,Travel_Rarely,1270,Research & Development,2,4,Marketing,1,...,4,80,1,5,1,3,6,18,14,14
2,Yoga Permata,29,Yes,Travel_Rarely,322,Sales,22,3,Medical,1,...,3,80,3,27,3,1,37,5,15,1
3,Agus Nugraha,52,Yes,Travel_Rarely,446,Sales,21,4,Technical Degree,1,...,2,80,3,24,0,4,15,17,13,2
4,Desi Saputri,37,No,Non-Travel,571,Sales,27,4,Life Sciences,1,...,3,80,1,12,0,3,3,14,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Yoga Ratnasari,18,No,Travel_Rarely,751,Human Resources,29,5,Technical Degree,1,...,1,80,2,18,0,3,24,7,14,4
96,Agus Saputra,34,Yes,Non-Travel,1079,Sales,25,3,Human Resources,1,...,1,80,2,34,5,3,0,1,11,8
97,Agus Kartika,31,No,Non-Travel,755,Research & Development,1,3,Other,1,...,3,80,2,1,1,3,31,6,11,12
98,Ratna Wulandari,49,Yes,Non-Travel,555,Research & Development,6,2,Medical,1,...,1,80,1,3,6,1,6,8,1,12
99,Ratna Saputri,38,No,Non-Travel,567,Sales,17,3,Life Sciences,1,...,2,80,1,1,1,1,16,4,0,8

In [7]:
df_dummy.drop(columns=['Attrition'], inplace=True)

In [8]:
df.to_csv('data_default/ibm_dummy.csv', index=False)